# NODE_ENV=development

# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dev?connection_limit=1"
# TEST_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/test?connection_limit=1"
# CACHE_HOST=redis://localhost:6379
# SESSION_SECRET=yarn rw generate secret

# PRISMA_HIDE_UPDATE_MESSAGE=true

# LOG_LEVEL=trace
# SENTRY_DSN=

# TMDB_API_ACCESS_TOKEN=
# GOOGLE_BOOKS_API_KEY=

# MINIO_API_URL=localhost
# MINIO_PORT=9000
# MINIO_ACCESS_KEY=minio_user
# MINIO_SECRET_KEY=minio_password
# MINIO_BUCKET_NAME=popcorn-time
