services:
  api:
    image: ghcr.io/c-ciobanu/popcorn-time-api:${COMMIT_SHA}
    ports:
      - "8911:8911"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - CACHE_HOST=${CACHE_HOST}
      - SESSION_SECRET=${SESSION_SECRET}
      - TMDB_API_ACCESS_TOKEN=${TMDB_API_ACCESS_TOKEN}
      - GOOGLE_BOOKS_API_KEY=${GOOGLE_BOOKS_API_KEY}
      - LOG_LEVEL=${LOG_LEVEL}
      - MINIO_API_URL=${MINIO_API_URL}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - MINIO_BUCKET_NAME=${MINIO_BUCKET_NAME}

  web:
    image: ghcr.io/c-ciobanu/popcorn-time-web:${COMMIT_SHA}
    ports:
      - "8910:8910"
    depends_on:
      - api
    environment:
      - API_PROXY_TARGET=http://api:8911
