BETTER_AUTH_SECRET="1beapGF3yvnEoM5yVwJq8mCJyrWCjeGb"
BETTER_AUTH_URL="http://localhost:3000"
CORS_ORIGIN="http://localhost:3100"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dev"
GOOGLE_BOOKS_API_KEY=""
QUEUES_DASHBOARD_PASSWORD="omnifex"
REDIS_URL="localhost:6379"
TMDB_API_ACCESS_TOKEN=""