BETTER_AUTH_SECRET="1beapGF3yvnEoM5yVwJq8mCJyrWCjeGb"
BETTER_AUTH_URL="http://localhost:3000"
CORS_ORIGIN="http://localhost:3100"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dev?connection_limit=1"
TMDB_API_ACCESS_TOKEN=""